{{ if .Site.Menus.main }}
<div id="menu" data-target="menu">

    <div class="menu-list">
        {{ range .Site.Menus.main }}
        {{ $currentNode := . }}
        <li class="menu-list-item">
            {{ .Pre }}
            <a class="home current js-ajax-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
	{{if .Site.Params.Author.github }}
	    <li>
		    <a href="{{.Site.Params.Author.github}}"><img src="{{.Site.BaseURL}}gh.png" style="height: 50px; margin: 0em !important;top: -5px;position:relative;"></a>
	    </li>
        {{ end }}

    </div>

</div>
{{ end }}
